@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&family=Nanum+Myeongjo&family=Poor+Story&display=swap");
* {
  font-family: "IBM Plex Sans KR", sans-serif;
}




body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: white;
}

.movieDetailContent {
  display: flex;
}

#detailPoster {
  width: 90%;
  height: 90%;
}

.left {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right {
  width: 70%;
}

.reviewBox {
  background-color: rgb(237, 241, 255);
  width: 700px;
  height: 550px;
  margin: 50px auto auto auto;
  cursor: url(https://cur.cursors-4u.net/games/gam-11/gam1058.cur), auto !important;}

.underLine {
  width: 700px;
  height: 2px;
  background-color: black;
  margin-bottom: 10px;

}

.reviewTitle {
  text-align: center;
  height: 50px;
}

.input-group {
  margin: 270px 2px auto 2px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7); /* 부모 화면 회색 처리 */
}

.modal_body {
  position: fixed;
  top: 50%;
  left: 50%;

  width: 600px;
  height: 200px;

  padding: 40px;

  text-align: center;

  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);

  transform: translate(-50%, -50%);
  cursor: url(https://cur.cursors-4u.net/toons/too-4/too385.cur), auto !important;
}


.writeBtn{
  margin-top: 15px;
}


.nameBox{
  border-radius: 10px;
  background-color: white;
  width: 250px;
  margin-left: 12px;
  }
  
 /* 카카오톡 말풍선 같이 구현 */

.reviewTitle{
  background-color: rgb(197, 209, 221);
}

.input-group{
  margin-top: 350px;
}

/* 마진 탑을 350px 이상으로 하면 이름, 리뷰, 비밀번호 작성하는 곳이 리뷰 창 이상으로 넘어갈 것 같습니다 */
