@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap");
* {
  font-family: "Nanum Myeongjo", serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: oldlace;
}

body > header {
  text-align: center;
  margin-top: 10px;
}

.searchContent {
  display: flex;
  align-items: center;
  gap: 5px;
}

#searchTitle {
  width: 200px;
  height: 30px;
  font-size: 16px;
}

#searchBtn {
  width: 35px;
  height: 35px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid black;
}

#searchBtn:active {
  background-color: rgb(220, 220, 220);
}

#pageDropdown {
  margin-left: auto;
  margin-top: 30px;
  width: 60px;
  height: 30px;
  margin-right: 10px;
}

#movieContent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* 한 줄에 4개의 열을 가지도록 설정합니다. */
  gap: 20px;
  row-gap: 20px;
  /* 그리드 아이템 사이의 간격을 지정합니다. */
  justify-items: center;
  /* 그리드 아이템을 수평 중앙에 정렬합니다. */

  margin: 10px 10px 20px 10px;
}

.movieCard {
  width: 300px;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;

  transition: all 0.2s linear;
}

.movieCard:hover {
  transform: scale(1.2);
}

.movieTitle {
  font-weight: bold;
}

.poster {
  width: 60%;
  height: 60%;
  object-fit: cover;
  border-radius: 5px;
  margin-left: 10px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bottom {
  margin-top: 0;
  margin-bottom: 0;
}
