body {
    display: flex;
    flex-direction: column;
    margin: 0;
    justify-content: center;
    align-items: center;
}

body > header {
    text-align: center; /* 제목을 가운데 정렬합니다. */
    margin-top: 10px;
}

#movieContent {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 한 줄에 4개의 열을 가지도록 설정합니다. */
    gap: 20px; /* 그리드 아이템 사이의 간격을 지정합니다. */
    justify-items: center; /* 그리드 아이템을 수평 중앙에 정렬합니다. */
}

.movieCard {
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.poster {
    width: 300px;
    height: 300px;
}

.pagination {
    margin-top: 20px;
}

.pagination-button {
    padding: 10px;
    margin: 0 5px;
    cursor: pointer;
}

.pagination-button.active {
    color: #ff7b00;
}